.header {
  height: 35px;
  background-color: #38AEF0;
  color: #ffffff;
  &__logo {
    text-align: center;
    font-size: 18px;
    line-height: 35px;
  }
}
  .name-box{
    float: left;
    height: 96px;
    padding-bottom:11px;
    background-color:#253141;
    width: 300px;
    &__left{
      font-size: 16px;
      font-weight: bold;
      float:left;
      padding:40px 0 40px 20px;
      color: #ffffff;
    }
    &__right{
      float:right;
      padding:40px 20px 40px 20px;
      color: #ffffff;
      &--icon{
      }
    }
  }

  .team-box{
    float:left;
    padding-top:20px;
    background-color:#2f3e51;
    width: 300px;
    height: calc(100vh - 160px);
  }
  
  .teamname-box{
    float:left;
    height: 106px;
    border-bottom:solid #eeeeee 1px;
    width: calc(100vw - 300px);
    background-color: white;

    &__1st{
      float:left;
      color:#333333;
      font-size: 20px;
      margin:35px 0px 15px 40px;
    }
    &__2nd{
      clear:both;
      color:#333333;
      font-size: 12px;
      margin:0px 0px 0px 40px;
    }
    &__edit{
      height: 40px;
      float: right;
      color:#38AEF0;
      border:solid #38AEF0 1px;
      font-size: 20px;
      margin:28px 40px 0px 0px;
      padding:10px 20px 0 20px;
      text-align: center;
    }
  }

  .message-box{
    float:left;
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - 230px);
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    
    .messages{
      float:left;
      color:#333333;
      font-size: 20px;
      font-weight: bold;
      margin:46px 0px 10px 40px;
    }
  }

.form{
  float:right;
  width: calc(100vw - 380px);
  height: 50px;
  padding:20px 40px;
  background:#ddd;
  .new_message{
    width:100%;
    display:flex;
    .input-box{
      width:100%;
      .input-box__text{
        height:50px;
        width:100%;
        padding:0 40px 0 10px;
        color:#434a54;
        border-style: none;
      }
    }
    .input-box__image{
      margin-right:10px;
      font-size:1.3rem;
      padding-top:7px;
      cursor:pointer;
      .hidden{
        display:none;
      }
    }
    }
    .submit-btn{
      width:100px;
      height:50px;
      padding:0 30px;
      margin-left: 25px;
      background-color:#38aef0;
      color:white;
      cursor:pointer;
    }
  }

  